{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    {{ forloop.counter }}
    <div class="card-header">
        Category: <a href="{{ item.get_absolute_url }}">{{ news_item.category.title }}</a>
    </div>
    <div class="media" style="display:flex">
        <div class="media-photo">
            {% if news_item.photo %}
            <img src="{{ news_item.photo.url }}" alt="Photo" class="mr-3" width="350">
            {% else %}
            <h6>no photo</h6>
            {% endif %}
        </div>
        <div class="media-body">
            <div class="card-body">
                <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-info' %}">{{ news_item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ news_item.content|linebreaks }}</p>
                {% endautoescape%}
                <a href="javascript:window.history.back()" class="btn btn-primary">Back</a>

            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        {{ news_item.created_at }}
    </div>
</div>
{% endblock %}
