body {
    background-color: #ccc;
}

.errorlist {
    color: red;
}

.media-list {
    position: relative;
    display: flex;
}

.media-solo {
    text-align: left;
}
.media-solo-photo{
    text-align:center;
}
.card {
    width: 65vw;
}

.mt-3 {
    margin-left: 0px;
    width=80vw;
}

.badge {
    width: 30px;
    color: white;
}

.pagi {
    margin-left: 50%;
    max-width: 1em;
}

.reglog {
    width: 100%;
}

.navbar-text {
    display: flex;
    margin-right: 10%;

}

.alert {
    width: 50%;
}

.title {
    text-align: center;
}

.navbar-brand {
    margin-right: 3%;
}

.noauth {
    display: flex;
    margin-right: 2%;
}

.auth {
    display: flex;
    margin-left: 0;
}

.media-body {
    margin-left: 3%;
}

.card-title-news {
    text-align: center;
}

.news-btn {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.media-photo {
    padding: 1% 1% 1% 1%;
}

.card-solo-title{
    text-align:center;
}

.news-id {
    color: rgba(0, 0, 0, 0.3);
}

.card-header {
    display: flex;
    justify-content: space-between;
}