{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="__0"></a>Теоретическая часть</h1>
<h2 class="code-line" data-line-start=1 data-line-end=2 ><a id="_2_1"></a>Урок 2</h2>
<dl>
<dt>Что такое приложения в проекте Django?</dt>
<dd>Это пакет с набором функций. Состоит из моделей, представлений, может быть использован в отрыве от конкретного проекта_</dd>
</dl>
<h2 class="code-line" data-line-start=4 data-line-end=5 ><a id="_3_4"></a>Урок 3</h2>
<dl>
<dt>Что такое шаблон проектирования MVC?</dt>
<dd>Это принцип построения и взаимодействия компонентов приложения. Модель-Представление-Контроллер.<br>
Модель - набор данных, изменяемый командами контроллера<br>
Представление - инструкции по отображению<br>
Контроллер - интерпретатор действий пользователя, изменяющий модель</dd>
<dt>Чем реализация шаблона MVC отличается в Django? 3. Что такое контроллеры</dt>
<dd>В Django используется MVT, модификация шаблона MVC.<br>
Модель-Контроллер-Шаблон<br>
Модель - набор данныХ используемых в приложении.<br>
Контроллер (View) - получает запрос от пользователя и отправляет ответ. Взаимодействует и с моделью и с шаблонами<br>
Шаблон (Template) - определяет визуальное представление данных, при помощи html</dd>
</dl>
<h2 class="code-line" data-line-start=17 data-line-end=18 ><a id="_4_17"></a>Урок 4</h2>
<dl>
<dt>Что такое модель?</dt>
<dd>Модель - таблица в базе данных</dd>
<dt>Как в Django реализована работа с таблицами?</dt>
<dd>В модели описывается множество классов, каждый из которых описывает одну таблицу БД, а свойства класса описывают столбцы таблицы</dd>
<dt>Что такое миграции</dt>
<dd>Миграции - описание изменений в модели</dd>
</dl>
<h2 class="code-line" data-line-start=26 data-line-end=27 ><a id="_5_26"></a>Урок 5</h2>
<dl>
<dt>Что такое шаблоны и для чего они нужны?</dt>
<dd>Шаблон - html файл с разметкой, в который попадают данные из БД. Предназначен для отображения содержимого в зависимости от задач</dd>
<dt>Можно ли переключить сайт на Django на любой язык, кроме английского? Если да, то как это сделать?</dt>
<dd>В корне проекта необходимо отредактировать файл <a href="http://settings.py">settings.py</a>, изменив LANGUAGE_CODE на желаемый язык</dd>
</dl>
<h2 class="code-line" data-line-start=32 data-line-end=33 ><a id="_6_32"></a>Урок 6</h2>
<dl>
<dt>Что такое панель администратора?</dt>
<dd>интерфейс, позволяющей взаимодействовать с базой данных</dd>
<dt>Как получить доступ к учетной записи администратора?</dt>
<dd>Открыть терминал в корне проекта.<br>
Ввести команды:<br>
python.exe <a href="http://manage.py">manage.py</a> createsuperuser<br>
username (leave blank to use ‘root’): admin_user - ввести желаемое имя<br>
Email address: - имеил<br>
Password: Password (again): - дважды пароль<br>
учетная запись администратора готова. после запуска сервера, перейдя по адресу <a href="http://127.0.0.1:8000/admin">http://127.0.0.1:8000/admin</a> необходимо будет ввести указанные данные.</dd>
<dt>Как увидеть свои модели на странице администратора?</dt>
<dd>для этого необходимо зарегистрировать модели в файле <a href="http://admin.py">admin.py</a> конкретного приложения при помощи команды - admin.site.register() и в качестве параметров передать название модели</dd>
</dl>
<h2 class="code-line" data-line-start=47 data-line-end=48 ><a id="_7_47"></a>Урок 7</h2>
<dl>
<dt>Как организуется связывание двух моделей в Django?</dt>
<dd>связывание моделей происходит при помощи внешних ключей (foreign key). одна модель становится переменной в другой модели, что позволяет обращаться из первой ко второй</dd>
<dt>Почему рекомендуется заранее продумывать все поля для моделей?</dt>
<dd>при изменении моделей в базе данных появляются новые поля таблиц, что может привести к возникновению ошибок, из-за различных особенностей полей. и возникает  необходимость заполнять вновь созданные поля данными, либо перебирая уже заполненные данные, либо указывая значения по умолчанию</dd>
</dl>
<h2 class="code-line" data-line-start=53 data-line-end=54 ><a id="_8_53"></a>Урок 8</h2>
<p class="has-line-data" data-line-start="54" data-line-end="55">Повторение директив.</p>
<h2 class="code-line" data-line-start=55 data-line-end=56 ><a id="_9_55"></a>Урок 9</h2>
<dl>
<dt>Для чего используются параметры в url- запросах?</dt>
<dd>для обращения к путям по их параметру name=</dd>
<dt>Почему удобнее и эффективнее использовать именованные Маршруты?</dt>
<dd>упрощает работу со структурой, в случае перемещения каких либо файлов относительно друг друга не будет возникать ошибок</dd>
</dl>
<h2 class="code-line" data-line-start=61 data-line-end=62 ><a id="_10_61"></a>Урок 10</h2>
<dl>
<dt>Что такое наследование шаблонов и для чего оно используются?</dt>
<dd>наследование шаблонов позволяет придерживаться принципа DRY - повторно используя один и тот же код в разных местах</dd>
<dt>Что такое пользовательские(кастомные) тэги?</dt>
<dd>позволяют дополнить функционал, путем создания функций-декораторов, которых не существует в базовом виде фреймворка, так же направлены на избегание повторений</dd>
</dl>
<h2 class="code-line" data-line-start=67 data-line-end=68 ><a id="_11_67"></a>Урок 11</h2>
<dl>
<dt>Что такое статика в терминологии Django?</dt>
<dd>статика - любые дополнительные неизменяемые файлы  (изображения, видео, файлы стилей и скриптов)</dd>
<dt>Для чего нужно собирать всю статику отдельной командой?</dt>
<dd>для сохранения файлов в неизменном виде</dd>
<dt>Можно ли различные улучшения установить локально( bootstrap, font-awesome и т. д.)?</dt>
<dd>да, сохранив файлы локально и переопределив пути к ним</dd>
</dl>
<h2 class="code-line" data-line-start=76 data-line-end=77 ><a id="_12_76"></a>Урок 12</h2>
<dl>
<dt>Для чего используются формы на сайтах?</dt>
<dd>для взаимодействия с моделями (базой данных) напрямую из шаблона</dd>
<dt>Что такое валидация и можно ли создать свои собственные валидаторы в Django?</dt>
<dd>валидация - проверка отправляемого содержимого на соответствие установленным критериям. в django есть возможность создавать кастомную валидацию</dd>
</dl>
<h2 class="code-line" data-line-start=82 data-line-end=83 ><a id="_13_82"></a>Урок 13</h2>
<dl>
<dt>Чем контроллеры-функции отличаются от контроллеров-классов?</dt>
<dd>плюсы функций: проще синтаксис, явное течение кода, явное использование декораторов, хорошо подходят для узконаправленных задач.<br>
минусы функций: высокая повторяемость кода, тяжело расширить, условное ветвление для обработки запросов<br>
плюсы классов: наследование, большая возможность повторного использования, большие возможности расширения, обработка запросов может происходить с помощью методов класса, без условного ветвления, встроенные контроллеры (generic class-based views)</dd>
<dt>Для чего в классах используется функция get_context_data() ?</dt>
<dd>функция используется для получения значений контекста по-умолчанию и заполнения шаблона</dd>
</dl>
<h2 class="code-line" data-line-start=90 data-line-end=91 ><a id="_14_90"></a>Урок 14</h2>
<dl>
<dt>Для чего используется метод get_queryset()?</dt>
<dd>query set - список объектов заданной модели.<br>
по-умолчанию любой ListView возвращает список всех объектов (Model.objects.all()).<br>
get_queryset() позволяет определить некие критерии, по которым и произойдет возвращение списка объектов</dd>
</dl>
<h2 class="code-line" data-line-start=95 data-line-end=96 ><a id="_15_95"></a>Урок 15</h2>
<dl>
<dt>Что такое миксины(примеси) и для чего они применяются?</dt>
<dd>по своей сути это наследование классов, предоставляющее дополнительный функционал. применяются для снижения повторяемости кода и для того чтобы была возможность пропускать некоторые свойства при определении объектов, просто их игнорируя</dd>
<dt>Как получить доступ к данным класса-миксина из другого класса?</dt>
<dd>произвести импорт класса в контроллер и унаследовать импортированный класс в класс контроллера. далее внутри класса контроллера можно использовать методы импортированного миксина</dd>
</dl>
<h2 class="code-line" data-line-start=101 data-line-end=102 ><a id="_16_101"></a>Урок 16</h2>
<dl>
<dt>Что такое пагинация?</dt>
<dd>постраничный вывод информации, с выведением части информации на странице, с возможностью перемещения между страниц</dd>
<dt>Как организуется пагинация в общем виде</dt>
<dd>с использованием параметра paginate_by, встроенной в класс ListView, DetailView, с дальнейшей настройкой шаблона страницы</dd>
</dl>
<h2 class="code-line" data-line-start=107 data-line-end=108 ><a id="_17_107"></a>Урок 17</h2>
<dl>
<dt>Для чего каждую функциональную часть в Django рекомендуется выносить в отдельное приложение?</dt>
<dd>того чтобы разделять функционал по частям и, в дальнейшем, иметь возможность разрабатывать части независимо друг от друга, а также использовать приложения в других проектах</dd>
</dl>
<h2 class="code-line" data-line-start=110 data-line-end=111 ><a id="_18_110"></a>Урок 18</h2>
<dl>
<dt>Чем аутентификация отличается от авторизации?</dt>
<dd>аутентификация - проверка введенных данных (логин\пароль)  на соответствие с данными в БД<br>
авторизация - предоставление прав выполнять те или иные действия</dd>
<dt>Каким образом можно улучшить поля формы в django? Какие инструменты для этого применяются?</dt>
<dd>не совсем понимаю суть вопроса, но, например, добавить проверки регулярными выражениями, всплывающие поля подсказок по заполнению полей, автофокус на первом поле, разрешить отображать пароль, добавить отдельную кнопку для перехода между страницей регистрации и страницей авторизации</dd>
</dl>
<h2 class="code-line" data-line-start=117 data-line-end=118 ><a id="_19_117"></a>Урок 19</h2>
<dl>
<dt>Что такое визуальный редактор?</dt>
<dd>редактор исходного кода, позволяющий в удобной форме производить html разметку</dd>
<dt>Можно ли добавить любую капчу к формам на сайте Django? Если да, то как это сделать?</dt>
<dd>через менеджер пакетов подключить приложение капчи, настроить желаемый функционал в соответствии с документацией и добавить поле капчи к проверяемой форме</dd>
<dt>Как обрабатываются ошибки с неверно введенной капчей?</dt>
<dd>возбуждается исключение ValidationError в обрабатываемой форме, из-за чего не происходит ее сохранение</dd>
</dl>
<h2 class="code-line" data-line-start=126 data-line-end=127 ><a id="_20_126"></a>Урок 20</h2>
<dl>
<dt>Что такое кэш и кэширование?</dt>
<dd>кэш - временное хранилище данных<br>
кэширование - сохранение часто используемых данных во временном хранилище</dd>
<dt>Когда рационально применять кэширование?</dt>
<dd>когда есть повторяемые элементы, не требующие частого обновления</dd>
</dl>
<h2 class="code-line" data-line-start=133 data-line-end=134 ><a id="_21_133"></a>Урок 21</h2>
<dl>
<dt>Как называются компоненты, из которых строится проект на фреймворке Django?</dt>
<dd>приложения</dd>
<dt>Как начать проект на Django?</dt>
<dd>при помощи команды startproject, где в качестве аргумента передается название проекта</dd>
<dt>Чем реализация шаблона MVC отличается в Django?</dt>
<dd>в django используется модификация MVT - model, view, template (модель, представление, контроллер)</dd>
<dt>На какие функциональные части разделяется веб-приложение в Django? Перечислите их названия и предназначение.</dt>
<dd>url-маршрутизаторы, представления (обработка запросов, обращение к модели с указанием что нужно задействовать и БД), модель (менеджер базы данных, достающий информацию из БД и передающий её представлению), HTML-шаблоны, которые используются представлением для демонстрации полученных данных</dd>
<dt>Нужно ли для описания таблиц базы данных и запросов к ним использовать язык SQL?</dt>
<dd>понимаение SQL будет не лишним при оптимизации приложений, однако, встроенный функционал django позволяет организовывать базы данных без использования SQL</dd>
<dt>Как связать две модели между собой?</dt>
<dd>используя первичный ключь в поле одной модели, который будет ссылаться на поле другой модели</dd>
<dt>Какие есть конструкции шаблонизатора в Django? Для чего каждая из них предназначена?</dt>
<dd>оппа</dd>
<dt>Какие есть два варианта организации маршрутизации в шаблонах? Какой из них является рекомендуемым?</dt>
<dd>вариант с использованием указаний на путь до шаблона и вариант с использованием именных значений, которые задаются при создании пути (значение параметра name=)</dd>
<dt>Для чего используется механизм наследования шаблонов?</dt>
<dd>для избегания дублирования кода</dd>
<dt>Что называется статикой в терминологии Django?</dt>
<dd>любые дополнительные неизменяемые файлы</dd>
<dt>Для чего нужны формы? Как связать форму с моделью?</dt>
<dd>чтобы позволить пользователю взаимодействовать с базой данных через интерфейс сайта. связать форму с моделью можно используя переменную model внутри подкласса Meta формы, указав название модели, с которой форма и будет взаимодействовать</dd>
<dt>Что такое валидация? Можно ли создавать пользовательские валидаторы в Django?</dt>
<dd>валидация - проверка строки на соответсвие заданным требованиям, в django существует возможность создавать собственные валидаторы, например внутри полей формы</dd>
<dt>Чем использование контроллеров-классов отличается от контроллеров-функций?</dt>
<dd><strong>плюсы функций</strong>: проще синтаксис, явное течение кода, явное использование декораторов, хорошо подходят для узконаправленных задач.<br>
<strong>минусы функций</strong>: высокая повторяемость кода, тяжело расширить, условное ветвление для обработки запросов<br>
<strong>плюсы классов</strong>: наследование, большая возможность повторного использования, большие возможности расширения, обработка запросов может происходить с помощью методов класса, без условного ветвления, встроенные контроллеры (generic class-based views)<br>
<strong>минусы классов</strong>: тяжелей создавать и читать, неявное течение кода, больше импортов в view</dd>
<dt>Как просмотреть на страницах проекта информацию о запросах, используемых шаблонах и т. д.?</dt>
<dd>при помощи пакета debug-toolbar</dd>
<dt>Для чего в контроллерах-классах используется встроенный метод get_queryset() ?</dt>
<dd>для определения списка критериев, по которым view будет возвращать объекты</dd>
<dt>Как организован механизм наследования классов в Python?</dt>
<dd>через подкласс, при определении класса в скобках указывается класс-родитель от которого происходит наследование методов</dd>
<dt>Что такое пагинация и какими способами ее можно организовать на страницах?</dt>
<dd>постраничный вывод информации, с выведением части информации на странице, с возможностью перемещения между страниц</dd>
<dt>Как организован механизм регистрации и авторизации в фреймворке Django?</dt>
<dd>путем использования встроенных в django форм, для которых возможно создать дополнительные поля, условия и проверки</dd>
<dt>Что такое кэширование и что можно кэшировать?</dt>
<dd>временное хранение часто используемых данных. любой элемент на странице можно закэшировать, однако лучше применять кэширование к объектам, которые не часто изменяются</dd>
<dt>Как установить и подключить любой модуль к проекту Django?</dt>
<dd>после того как пакет приложения был скачан, в корне проекта, в файл <a href="http://settings.py">settings.py</a> в раздел INSTALLED_APPS необходимо внести название устанавливаемого приложения в соответствии с требованиями. так же произвести все дополнительные настройки в файле <a href="http://settings.py">settings.py</a> (указание путей, переменных и т.д.)</dd>
</dl>


{% endblock %}